.thread-message-container {
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 12px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.thread-message-from {
    margin-bottom: 1rem;
}

.thread-message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}