.contact-menu-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    background: lightgrey;
    border: 1px solid lightgrey;
    margin-left: 1.5rem;
}

.banner, .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}