@import "../../stylesheets/variables";

.contact-list-container {
    width: 20%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.user-card {
    background: $component-bg;
    border-bottom: 1px solid $border-main;
    display: flex;
    height: fit-content;
    overflow-y: hidden;
    padding: 2rem 1rem;

    &:hover {
        cursor: pointer;
        background:  rgba(47, 134, 255, .04);
    }

    .user-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }
}

.user-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .user-card-snippet {
        max-height: 3rem;
        overflow: hidden;
    }
}

.user-selected {
    background: rgba(47, 134, 255, .13);
}