.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    opacity: .5;
    top:0;
    left:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 250;
  }
  
.compose-card {
  position: absolute;
  top:15%;
  left: 25%;
  background-color: $white;
  width: 50vw;
  height: 70vh;
  padding:2rem;
  border-radius: 5px;
  z-index: 999;

  textarea {
    height: 50%;
    margin:0.5rem 0;
    border: 1px solid $grey;
    padding: 1rem;
  }

  input[type='email'], input[type='text'] {
    height: 35px;
    padding:0 1rem;
    margin:0.5rem 0;
    border: 1px solid $grey;
  }

  .close {
    font-size: 0.8rem;
    color: $grey;
    cursor: pointer;
  }
  
  .close:hover {
    color: $darkGrey;
  }
}

.compose-circle-btn {
  display: none;
}

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {

  .compose-card {
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    border-radius: 0px;
  }

  .compose-circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    z-index: 20;
    background-color: $accentBlue;
    color:$white;
    font-size: 2rem;
    font-weight: bold;
    bottom: 3rem;
    right:3rem;
    height: 60px;
    width: 60px;
  }
}