/* Desktop First */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.top {
    height: 64px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border;
    font-size: 0.9rem;
    background-color: $white;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 10;
}

main {
    height: calc(100vh - 64px);
    display: flex;
}

.sidebar {
    position: fixed;
    left:0;
    top:64px;
    width: 260px;
    height: calc(100vh - 64px);
    border-right: 1px solid $border;
    background-color: $bg-light;
}

.email-list {
    position: absolute;
    left:260px;
    top:64px;
    width: calc(100vw - 260px);
    height: 100%;
}

.email-list-340 {
    position: absolute;
    left:260px;
    top:64px;
    width: 340px;
    height: 100%;
}

.email-body {
    position: absolute;
    left: 600px;
    width: calc(100vw - 600px);
    top:64px;
    background-color: $white;
    height: calc(100vh - 64px);
    margin-top: 0.3rem;
}

#email-body-analytics {
    width: calc(100vw - 600px - 260px - 0.3rem)
}

.thread {
    margin:0.3rem;
    background-color: $white;
    height: 5rem;
    padding:0.5rem;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background-color: $hover;
    }
}

.analytics-bar {
    position: fixed;
    right:0px;
    top:64px;
    height: calc(100vh - 64px);
    width: 260px;
    background-color: $white;
    margin-top: 0.3rem;
    padding:0.5rem;
}

.analytics-bar-close {
    font-size: 1rem;
    color: $grey;
}

.analytics-bar-avatar {
    font-size: 5rem;
    color:$accentBlue;
}


/* Tablet */
$breakpoint-tablet: 1024px;
@media (min-width: $breakpoint-tablet) {
  
}


/* Mobile */
$breakpoint-mobile: 480px;
@media (min-width: $breakpoint-mobile) {
  
}