/* Desktop First */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.top {
    height: 64px;
    align-items: center;
    border-bottom: 1px solid $border;
    font-size: 0.9rem;
    background-color: $white;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 10;
    padding:0 2rem;

    .sidebar-btn {
        display: none;
    }

    .logo {
        width: 230px;
    }

    .nav-mid {
        min-width: calc((100vw - 260px) / 2);
        height: 100%;
    }

    input[name='search']{
        height: 2.5rem;
        width: calc((100vw - 260px) / 2);
        background-color: $bg;
        border: none;
        border-radius: 5px;
        padding: 0 1rem;
    }

    .user-avatar {
        position: absolute;
        right:2rem;
        
        img {
            border-radius: 50%;
            height: 40px;
        }
    }
}

main {
    height: calc(100vh - 64px);
    display: flex;
}

.sidebar {
    position: fixed;
    left:0;
    top:64px;
    width: 260px;
    height: calc(100vh - 64px);
    border-right: 1px solid $border;
    background-color: $bg-light;

    nav {
        padding: 0.5rem 1.2rem;
        border-bottom: 1px solid $border;
        border-top: 1px solid $border;
    
        li {
            color: $darkGrey;
            list-style: none;
            margin: 1rem 0;
            cursor: pointer;
        }
    }

    .tags {
        padding: 0.5rem 1.2rem;

        li {
            color: $darkGrey;
            list-style: none;
            margin: 1rem 0;
            cursor: pointer;
        }
    }
}



.email-list {
    position: absolute;
    left:260px;
    top:64px;
    width: calc(100vw - 260px);
    height: 100%;
}

.email-list-min {
    position: absolute;
    left:260px;
    top:64px;
    width: 340px;
    height: 100%;
}

.email-body {
    position: absolute;
    left: 600px;
    width: calc(100vw - 600px);
    top:64px;
    background-color: $white;
    height: calc(100vh - 64px);
    margin-top: 0.3rem;
}

#email-body-analytics {
    width: calc(100vw - 600px - 260px - 0.3rem)
}



.analytics-bar {
    position: fixed;
    right:0px;
    top:64px;
    height: calc(100vh - 64px);
    width: 260px;
    background-color: $white;
    margin-top: 0.3rem;
    padding:0.5rem;
}

.analytics-bar-close {
    font-size: 1rem;
    color: $grey;
}

.analytics-bar-avatar {
    font-size: 5rem;
    color:$accentBlue;
}

.logout {
    color: $darkGrey;
    cursor: pointer;

    &:hover {
        color: $accentBlue;
    }
}

.end {
    align-self: flex-end;
    margin-right: 0rem;
    margin-left: 1rem;
  }

/* Yannick */
form {
    margin-top: 10px;
    width: 100px;
    height: 40px;
}

/* HIDDEN */
.filter, .smart-search-btn {
    display: none;
}


/* Tablet */
$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
    .sidebar {
        visibility: hidden;
        position: fixed;
        left:0;
        top:64px;
        width: 260px;
        height: calc(100vh - 64px);    
    }

    .sidebar-btn {
        display: inline;
    }
    .slidebar {
        position: fixed;
        left:0;
        top:64px;
        width: 260px;
        height: calc(100vh - 64px);
        z-index: 5;
    }

    .email-list {
        position: absolute;
        left:0;
        top:64px;
        width: 100vw;
        height: 100%;
    }
    
    .email-list-min {
        position: absolute;
        left:0;
        top:64px;
        width: 340px;
        height: 100%;
    }
    
    .email-body {
        position: absolute;
        left: 340px;
        width: calc(100vw - 340px - 0.3rem);
        top:64px;
        background-color: $white;
        height: calc(100vh - 64px);
        margin-top: 0.3rem;
    }

    #email-body-analytics {
        width: calc(100vw - 340px - 260px - 0.3rem)
    }

    /* Yannick */
    
}


/* Mobile */
$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-mobile) {
    
    .top {
        padding:0 0.8rem;

        .sidebar-btn {
            display: inline;
        }
    }
    .email-list-min {
        visibility: hidden;
        position: fixed;
        left:260px;
        top:64px;
        width: 340px;
        height: 100%;
    }

    .email-body {
        position: absolute;
        left: 0;
        width: 100vw;
        top:64px;
        background-color: $white;
        height: calc(100vh - 64px);
        margin-top: 0.3rem;
    }


    /* Yannick */
}

.reply{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        background-color: white;
        border-radius: 15px;
        padding: 0% 3%;
        box-sizing: border-box;
        box-shadow: 0 0 9px 1px #00000059;


        .reply-form {

          width: 100%;
          
        }

        .label-container {

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        label {
            width: 100%;
            display: flex;
            padding-top: 7px;
            padding-bottom: 5px;
            span {
                width: 65px;
                margin-left: 5%;
            }
            .ContactButton {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-wrap: wrap;
            }
        }

        }

}