h1 {
    font-size: 2rem;
    color:$accentBlue;
}

// h2 {

// }

h3 {
    font-size: 1rem;
    margin:0.3rem 0;
}

p {
    font-size: 0.8rem;
    margin:0;
    margin-bottom:0.2rem;
}

li {
    font-size: 1rem;

    svg {
        margin:0 0.6rem;
    }
}