.message-tile {
    background: grey;
}

.message-card {
    height: 200px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.message-card, .thread-count {
    margin-left: 20px;
}

.message-subject div div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.message-subject div div .text {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
}

