.message-tile {
    margin: 0.5rem 0;
    border-radius: 12px;
    border: 1px solid rgba(128,128,128,0.25);
    padding: 0 2rem;
    width: 100%;
}

.message-card {
    height: 150px;
    padding-top: 15px;
}

.message-subject {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

.message-subject div div:last-child {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
}

.message-subject > .text-4 >  div > .from-name {
    width: 30px;
}

.message-subject > .num-4 > div > div:first-child {
    display: none;
}

.tagger-tag {
    width: 15%;
    background: darkgrey;
    border-radius: 10px;
    text-align: center;
    margin: 12px 0;
}

.snippet {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0;
}

.thread-count {
    padding-bottom: 15px;
    padding: 5px 0;
}